# Loading the Data

![](https://upload.wikimedia.org/wikipedia/en/5/54/Simpsons_MoneyBART_Mike_Scioscia_Promo.jpg)

Our goal is to write a few functions that will allow us to process the data related to baseball games from [Retrosheet](https://www.retrosheet.org/).  We will examine the game log data, and the information for these files can be found [here](https://www.retrosheet.org/gamelogs/glfields.txt)

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
in_df = pd.read_table("data/GL2017.txt", sep = ",", header = None)

In [3]:
in_df.head()

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,David Peralta,9,mathj001,Jeff Mathis,2,greiz001,Zack Greinke,1,NaN,Y
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,Jedd Gyorko,4,gricr001,Randal Grichuk,7,martc006,Carlos Martinez,1,NaN,Y
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,Tim Beckham,6,smitm007,Mallex Smith,7,norrd001,Derek Norris,2,NaN,Y
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,Zack Cozart,6,barnt001,Tucker Barnhart,2,felds001,Scott Feldman,1,NaN,Y
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,Yasmani Grandal,2,puigy001,Yasiel Puig,9,kersc001,Clayton Kershaw,1,NaN,Y

In [5]:
in_df = pd.read_table("data/GL2017.txt", sep = ",", header = None)
in_df.rename(columns={3: 'visiting_team', 6: 'home_team', 9: 'runs_visitor', 10: 'runs_home'}, inplace = True)
in_df.loc[0:5, ['visiting_team', 'home_team', 'runs_visitor', 'runs_home']]

  visiting_team home_team  runs_visitor  runs_home
0           SFN       ARI             5          6
1           CHN       SLN             3          4
2           NYA       TBA             3          7
3           PHI       CIN             4          3
4           SDN       LAN             3         14
5           COL       MIL             7          5

**PROBLEM**

Write a function that takes in a dataframe and returns a dataframe with the columns renamed as above.

In [6]:
#MY code
def baseball(df):
    out_df = df.rename(columns={3: 'visiting_team', 6: 'home_team', 9: 'runs_visitor', 10: 'runs_home'}, inplace = True)
    return out_df

In [10]:
new_df = pd.read_table("data/GL2017.txt", sep = ",", header = None)

In [11]:
baseball(new_df)

In [12]:
new_df['home_win'] = (new_df['runs_home'] > new_df['runs_visitor'])

In [13]:
new_df.home_win.head()

0     True
1     True
2     True
3    False
4     True
Name: home_win, dtype: bool

**PROBLEM** 

Add a new column to determine if the visiting team wins.

In [15]:
#My code
new_df['visitor_win'] = (new_df['runs_home'] < new_df['runs_visitor'])

In [16]:
new_df.visitor_win.head()

0    False
1    False
2    False
3     True
4    False
Name: visitor_win, dtype: bool

**PROBLEM**

Write a function named `new_columns` that takes in our labeled dataframe and outputs a new dataframe that contains the new columns `home_win` and `visitor_win`.

In [95]:
def new_columns(df):
    '''
    My code:  This doesn't take a 'labeled' df.  
    Instead it takes a raw baseball df and calls the 'baseball()' function first, and then
    returns a new df with the home/vis win columns
    '''
    baseball(df)
    df['visitor_win'] = (df['runs_home'] < df['runs_visitor'])
    df['home_win'] = (df['runs_home'] > df['runs_visitor'])
    df['RD_at_home'] = df.runs_home - df.runs_visitor
    df['RD_visiting'] = df.runs_visitor - df.runs_home
    return df

In [96]:
great_df = pd.read_table("data/GL2017.txt", sep = ",", header = None)

In [97]:
new_columns(great_df)

,0,1,2,visiting_team,4,5,home_team,7,8,runs_visitor,...,155,156,157,158,159,160,visitor_win,home_win,RD_at_home,RD_visiting
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,2,greiz001,Zack Greinke,1,NaN,Y,False,True,1,-1
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,7,martc006,Carlos Martinez,1,NaN,Y,False,True,1,-1
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,7,norrd001,Derek Norris,2,NaN,Y,False,True,4,-4
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,2,felds001,Scott Feldman,1,NaN,Y,True,False,-1,1
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,9,kersc001,Clayton Kershaw,1,NaN,Y,False,True,11,-11
5,20170403,0,Mon,COL,NL,1,MIL,NL,1,7,...,6,guerj003,Junior Guerra,1,NaN,Y,True,False,-2,2
6,20170403,0,Mon,ATL,NL,1,NYN,NL,1,0,...,2,syndn001,Noah Syndergaard,1,NaN,Y,False,True,6,-6
7,20170403,0,Mon,MIA,NL,1,WAS,NL,1,2,...,2,stras001,Stephen Strasburg,1,NaN,Y,False,True,2,-2
8,20170403,0,Mon,TOR,AL,1,BAL,AL,1,2,...,4,hardj003,J.J. Hardy,6,NaN,Y,False,True,1,-1
9,20170403,0,Mon,PIT,NL,1,BOS,AL,1,3,...,5,leons001,Sandy Leon,2,NaN,Y,False,True,2,-2
10,20170403,0,Mon,SEA,AL,1,HOU,AL,1,0,...,2,aokin001,Nori Aoki,7,NaN,Y,False,True,3,-3
11,20170403,0,Mon,KCA,AL,1,MIN,AL,1,1,...,9,rosae001,Eddie Rosario,7,NaN,Y,False,True,6,-6
12,20170403,0,Mon,ANA,AL,1,OAK,AL,1,2,...,3,semim001,Marcus Semien,6,NaN,Y,False,True,2,-2
13,20170403,0,Mon,CLE,AL,1,TEX,AL,1,8,...,6,profj001,Jurickson Profar,7,NaN,Y,True,False,-3,3
14,20170404,0,Tue,SFN,NL,2,ARI,NL,2,8,...,2,corbp001,Patrick Corbin,1,NaN,Y,True,False,-4,4
15,20170404,0,Tue,SDN,NL,2,LAN,NL,2,4,...,8,maedk001,Kenta Maeda,1,NaN,Y,True,False,-4,4
16,20170404,0,Tue,COL,NL,2,MIL,NL,2,6,...,6,daviz001,Zach Davies,1,NaN,Y,True,False,-1,1
17,20170404,0,Tue,CHN,NL,2,SLN,NL,2,2,...,4,waina001,Adam Wainwright,1,NaN,Y,True,False,-1,1
18,20170404,0,Tue,DET,AL,1,CHA,AL,1,6,...,2,may-j001,Jacob May,8,NaN,Y,True,False,-3,3
19,20170404,0,Tue,SEA,AL,2,HOU,AL,2,1,...,2,gonzm002,Marwin Gonzalez,3,NaN,Y,False,True,1,-1
20,20170404,0,Tue,ANA,AL,2,OAK,AL,2,7,...,3,semim001,Marcus Semien,6,NaN,Y,True,False,-1,1
21,20170404,0,Tue,NYA,AL,2,TBA,AL,2,5,...,10,bourp001,Peter Bourjos,7,NaN,Y,True,False,-5,5
22,20170404,0,Tue,CLE,AL,2,TEX,AL,2,4,...,6,chirr001,Robinson Chirinos,2,NaN,Y,True,False,-1,1
23,20170405,0,Wed,SFN,NL,3,ARI,NL,3,6,...,6,walkt004,Taijuan Walker,1,NaN,Y,False,True,2,-2
24,20170405,0,Wed,PHI,NL,2,CIN,NL,2,0,...,2,finnb001,Brandon Finnegan,1,NaN,Y,False,True,2,-2
25,20170405,0,Wed,SDN,NL,3,LAN,NL,3,1,...,9,hillr001,Rich Hill,1,NaN,Y,False,True,2,-2
26,20170405,0,Wed,COL,NL,3,MIL,NL,3,1,...,6,peraw001,Wily Peralta,1,NaN,Y,False,True,5,-5
27,20170405,0,Wed,ATL,NL,2,NYN,NL,2,3,...,2,degrj001,Jacob deGrom,1,NaN,Y,True,False,-2,2
28,20170405,0,Wed,MIA,NL,2,WAS,NL,2,4,...,2,roart001,Tanner Roark,1,NaN,Y,False,True,2,-2
29,20170405,0,Wed,TOR,AL,2,BAL,AL,2,1,...,4,hardj003,J.J. Hardy,6,NaN,Y,False,True,2,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,20170930,0,Sat,CIN,NL,161,CHN,NL,161,0,...,4,lestj001,Jon Lester,1,NaN,Y,False,True,9,-9
2401,20170930,0,Sat,LAN,NL,161,COL,NL,161,5,...,2,marqg001,German Marquez,1,NaN,Y,True,False,-2,2
2402,20170930,0,Sat,ATL,NL,161,MIA,NL,161,2,...,6,despo001,Odrisamer Despaigne,1,NaN,Y,False,True,8,-8
2403,20170930,0,Sat,NYN,NL,161,PHI,NL,161,7,...,2,alvah001,Henderson Alvarez,1,NaN,Y,True,False,-3,3
2404,20170930,0,Sat,SDN,NL,161,SFN,NL,161,3,...,5,cainm001,Matt Cain,1,NaN,Y,True,False,-1,1
2405,20170930,0,Sat,MIL,NL,161,SLN,NL,161,6,...,2,weavl001,Luke Weaver,1,NaN,Y,False,True,1,-1
2406,20170930,0,Sat,PIT,NL,161,WAS,NL,161,4,...,8,schem001,Max Scherzer,1,NaN,Y,True,False,-3,3
2407,20170930,0,Sat,SEA,AL,161,ANA,AL,161,6,...,5,maldm001,Martin Maldonado,2,NaN,Y,True,False,-2,2
2408,20170930,0,Sat,HOU,AL,161,BOS,AL,161,3,...,4,bradj001,Jackie Bradley,8,NaN,Y,False,True,3,-3
2409,20170930,0,Sat,CHA,AL,161,CLE,AL,161,2,...,2,urshg001,Giovanny Urshela,5,NaN,Y,True,False,-1,1
2410,20170930,0,Sat,ARI,NL,161,KCA,AL,161,3,...,7,gallc001,Cam Gallagher,2,NaN,Y,False,True,1,-1
2411,20170930,0,Sat,DET,AL,161,MIN,AL,161,3,...,2,adrie001,Ehire Adrianza,4,NaN,Y,True,False,-1,1
2412,20170930,0,Sat,TOR,AL,161,NYA,AL,161,1,...,8,hicka001,Aaron Hicks,9,NaN,Y,False,True,1,-1
2413,20170930,0,Sat,BAL,AL,161,TBA,AL,161,3,...,5,smitm007,Mallex Smith,9,NaN,Y,False,True,1,-1
2414,20170930,0,Sat,OAK,AL,161,TEX,AL,161,4,...,4,hoyij001,Jared Hoying,9,NaN,Y,False,True,4,-4
2415,20171001,0,Sun,CIN,NL,162,CHN,NL,162,3,...,4,montm002,Mike Montgomery,1,NaN,Y,True,False,-2,2
2416,20171001,0,Sun,LAN,NL,162,COL,NL,162,6,...,4,freek001,Kyle Freeland,1,"umpchange,3,umphome,blakr901,3,ump2b,(None)",Y,True,False,-3,3
2417,20171001,0,Sun,ATL,NL,162,MIA,NL,162,8,...,1,gordd002,Dee Gordon,4,NaN,Y,True,False,-3,3
2418,20171001,0,Sun,NYN,NL,162,PHI,NL,162,0,...,6,piven001,Nick Pivetta,1,NaN,Y,False,True,11,-11
2419,20171001,0,Sun,SDN,NL,162,SFN,NL,162,4,...,2,cuetj001,Johnny Cueto,1,NaN,Y,False,True,1,-1
2420,20171001,0,Sun,MIL,NL,162,SLN,NL,162,6,...,7,flahj002,Jack Flaherty,1,NaN,Y,True,False,-5,5
2421,20171001,0,Sun,PIT,NL,162,WAS,NL,162,11,...,8,gonzg003,Gio Gonzalez,1,NaN,Y,True,False,-3,3
2422,20171001,0,Sun,SEA,AL,162,ANA,AL,162,2,...,5,gratj001,Juan Graterol,2,NaN,Y,False,True,4,-4
2423,20171001,0,Sun,HOU,AL,162,BOS,AL,162,4,...,2,marrd001,Deven Marrero,6,NaN,Y,True,False,-1,1
2424,20171001,0,Sun,CHA,AL,162,CLE,AL,162,1,...,5,perer003,Roberto Perez,2,NaN,Y,False,True,2,-2
2425,20171001,0,Sun,ARI,NL,162,KCA,AL,162,14,...,2,cainl001,Lorenzo Cain,8,NaN,Y,True,False,-12,12
2426,20171001,0,Sun,DET,AL,162,MIN,AL,162,1,...,2,grosr001,Robbie Grossman,9,NaN,Y,False,True,4,-4
2427,20171001,0,Sun,TOR,AL,162,NYA,AL,162,2,...,7,austt001,Tyler Austin,9,NaN,Y,True,False,-1,1
2428,20171001,0,Sun,BAL,AL,162,TBA,AL,162,0,...,8,robed004,Daniel Robertson,6,NaN,Y,False,True,6,-6
2429,20171001,0,Sun,OAK,AL,162,TEX,AL,162,5,...,2,robid003,Drew Robinson,5,NaN,Y,True,False,-3,3

### Home Statistics

Using our dataframe above, let's work through finding the number of wins for the home team, number of runs scored by the home and visiting team, and the total number of home games for each team.

In [36]:
home_group = great_df.groupby('home_team')

In [41]:
home_group[['runs_visitor', 'runs_home', 'home_win']].apply(sum).head()

           runs_visitor  runs_home  home_win
home_team
ANA               335.0      356.0      43.0
ARI               346.0      457.0      52.0
ATL               421.0      346.0      37.0
BAL               407.0      395.0      46.0
BOS               349.0      387.0      48.0

In [45]:
type(home_group.head())

pandas.core.frame.DataFrame

In [46]:
home_group.sum()

,0,1,5,8,runs_visitor,runs_home,11,13,14,15,...,137,140,143,146,149,152,155,158,visitor_win,home_win
home_team,,,,,,,,,,,,,,,,,,,,,
ANA,1633824494,0,6582,6758,335,356,4339,0.0,0.0,0.0,...,683,733,572,445,429,388,300,304,38.0,43.0
ARI,1633823197,0,6342,6411,346,457,4288,0.0,0.0,0.0,...,578,332,394,541,375,413,323,81,29.0,52.0
ATL,1633825877,6,6908,6800,421,346,4342,0.0,0.0,0.0,...,362,415,568,375,361,383,456,81,44.0,37.0
BAL,1633824663,0,6615,6596,407,395,4410,0.0,0.0,0.0,...,491,381,601,484,449,485,391,473,35.0,46.0
BOS,1633824784,3,6715,6739,349,387,4446,0.0,0.0,0.0,...,509,576,590,492,498,459,282,416,33.0,48.0
CHA,1633826239,6,7153,7055,398,366,4279,0.0,0.0,0.0,...,480,383,557,539,490,470,354,614,42.0,39.0
CHN,1633825364,0,6709,6660,369,436,4323,0.0,0.0,0.0,...,442,298,359,505,459,481,314,244,33.0,48.0
CIN,1633823811,0,6345,6365,417,402,4328,0.0,0.0,0.0,...,467,243,537,431,563,485,195,81,42.0,39.0
CLE,1633825159,0,6875,6812,275,406,4279,0.0,0.0,0.0,...,525,488,622,545,445,561,374,382,32.0,49.0
COL,1633824799,3,6640,6739,415,488,4241,0.0,0.0,0.0,...,352,453,468,415,560,473,207,81,35.0,46.0
DET,1633825397,6,6785,6737,462,416,4338,0.0,0.0,0.0,...,496,486,553,534,541,397,523,489,47.0,34.0
HOU,1633823388,3,6298,6336,327,395,4302,0.0,0.0,0.0,...,521,409,497,500,436,415,357,565,33.0,48.0
KCA,1633824527,6,6544,6502,379,339,4275,0.0,0.0,0.0,...,596,589,327,311,579,618,536,416,38.0,43.0
LAN,1633822851,0,6207,6276,267,398,4288,0.0,0.0,0.0,...,496,402,354,393,440,395,593,81,24.0,57.0
MIA,1633824882,0,6773,6682,369,372,4340,0.0,0.0,0.0,...,612,638,560,290,323,329,454,100,38.0,43.0
MIL,1633822852,0,6154,6249,368,369,4342,0.0,0.0,0.0,...,379,527,411,582,288,487,509,81,37.0,44.0
MIN,1633823620,12,6329,6203,418,420,4320,0.0,0.0,0.0,...,502,486,516,605,504,461,436,513,40.0,41.0
NYA,1633825602,6,6991,6879,315,451,4279,0.0,0.0,0.0,...,590,577,500,465,458,472,375,346,30.0,51.0
NYN,1633823747,3,6377,6288,394,344,4320,0.0,0.0,0.0,...,444,587,439,392,418,385,304,82,44.0,37.0
OAK,1633823979,3,6407,6418,404,417,4336,0.0,0.0,0.0,...,536,426,598,359,509,420,419,463,35.0,46.0
PHI,1633826047,6,7113,7037,392,370,4376,0.0,0.0,0.0,...,508,643,378,535,461,351,293,81,42.0,39.0
PIT,1633824569,0,6625,6639,352,329,4366,0.0,0.0,0.0,...,407,634,380,373,581,343,363,81,37.0,44.0
SDN,1633824487,3,6619,6674,341,302,4277,0.0,0.0,0.0,...,429,328,452,441,483,445,376,81,38.0,43.0
SEA,1633824144,0,6446,6541,358,370,4347,0.0,0.0,0.0,...,551,372,753,394,417,516,408,440,41.0,40.0
SFN,1633824702,0,6735,6885,334,316,4438,0.0,0.0,0.0,...,373,483,241,439,479,396,513,81,43.0,38.0
SLN,1633823538,6,6402,6345,331,359,4343,0.0,0.0,0.0,...,569,493,436,303,437,484,416,81,37.0,44.0
TBA,1633823847,3,6338,6489,319,344,4336,0.0,0.0,0.0,...,638,463,319,584,471,403,461,370,39.0,42.0
TEX,1633824476,0,6617,6605,437,449,4302,0.0,0.0,0.0,...,613,617,516,405,384,397,351,411,40.0,41.0
TOR,1633824210,0,6607,6611,386,332,4280,0.0,0.0,0.0,...,448,521,584,532,455,433,443,315,39.0,42.0
WAS,1633824959,12,6773,6735,345,421,4291,0.0,0.0,0.0,...,546,579,274,352,449,445,374,81,34.0,47.0

In [47]:
home_df = home_group[['runs_visitor', 'runs_home', 'home_win']].sum()

In [48]:
home_group['home_win'].count().head()

home_team
ANA    81
ARI    81
ATL    81
BAL    81
BOS    81
Name: home_win, dtype: int64

In [50]:
home_df['home_games'] = home_group['home_win'].count()

In [51]:
home_df.head()

           runs_visitor  runs_home  home_win  home_games
home_team
ANA                 335        356      43.0          81
ARI                 346        457      52.0          81
ATL                 421        346      37.0          81
BAL                 407        395      46.0          81
BOS                 349        387      48.0          81

**PROBLEM**

Create a new column in the `home_df` dataframe that contains the run difference at home call `rundf_home`.

In [52]:
home_df['rundf_home']=home_df['runs_home']-home_df['runs_visitor']

In [53]:
home_df.head()

           runs_visitor  runs_home  home_win  home_games  rundf_home
home_team
ANA                 335        356      43.0          81          21
ARI                 346        457      52.0          81         111
ATL                 421        346      37.0          81         -75
BAL                 407        395      46.0          81         -12
BOS                 349        387      48.0          81          38

In [54]:
home_df.index.rename('Team', inplace=True)

In [55]:
home_df.head()

      runs_visitor  runs_home  home_win  home_games  rundf_home
Team
ANA            335        356      43.0          81          21
ARI            346        457      52.0          81         111
ATL            421        346      37.0          81         -75
BAL            407        395      46.0          81         -12
BOS            349        387      48.0          81          38

In [56]:
home_df.reset_index(inplace=True)

In [104]:
in_df = pd.read_table("data/GL2017.txt", sep = ",", header = None)

**PROBLEM**

Write a function that modularizes all of this called `home_team_data` that takes in a dataframe like our `in_df` and returns a dataframe called `home_df`.

In [105]:
def home_team_data(in_df):
    new_columns(in_df)
    home_group = in_df.groupby(in_df['home_team'])
    home_df = home_group[['runs_visitor', 'runs_home', 'home_win']].apply(sum).head()
    home_df['num_home_games'] = home_group.home_win.count()
    home_df['rd_at_home'] = home_df['runs_home'] - home_df['runs_visitor']
    home_df.index.rename('Team', inplace=True)
    
    return home_df

In [106]:
home_team_data(in_df)

      runs_visitor  runs_home  home_win  num_home_games  rd_at_home
Team
ANA          335.0      356.0      43.0              81        21.0
ARI          346.0      457.0      52.0              81       111.0
ATL          421.0      346.0      37.0              81       -75.0
BAL          407.0      395.0      46.0              81       -12.0
BOS          349.0      387.0      48.0              81        38.0

In [107]:
new_columns(in_df)

,0,1,2,visiting_team,4,5,home_team,7,8,runs_visitor,...,155,156,157,158,159,160,visitor_win,home_win,RD_at_home,RD_visiting
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,2,greiz001,Zack Greinke,1,NaN,Y,False,True,1,-1
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,7,martc006,Carlos Martinez,1,NaN,Y,False,True,1,-1
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,7,norrd001,Derek Norris,2,NaN,Y,False,True,4,-4
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,2,felds001,Scott Feldman,1,NaN,Y,True,False,-1,1
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,9,kersc001,Clayton Kershaw,1,NaN,Y,False,True,11,-11
5,20170403,0,Mon,COL,NL,1,MIL,NL,1,7,...,6,guerj003,Junior Guerra,1,NaN,Y,True,False,-2,2
6,20170403,0,Mon,ATL,NL,1,NYN,NL,1,0,...,2,syndn001,Noah Syndergaard,1,NaN,Y,False,True,6,-6
7,20170403,0,Mon,MIA,NL,1,WAS,NL,1,2,...,2,stras001,Stephen Strasburg,1,NaN,Y,False,True,2,-2
8,20170403,0,Mon,TOR,AL,1,BAL,AL,1,2,...,4,hardj003,J.J. Hardy,6,NaN,Y,False,True,1,-1
9,20170403,0,Mon,PIT,NL,1,BOS,AL,1,3,...,5,leons001,Sandy Leon,2,NaN,Y,False,True,2,-2
10,20170403,0,Mon,SEA,AL,1,HOU,AL,1,0,...,2,aokin001,Nori Aoki,7,NaN,Y,False,True,3,-3
11,20170403,0,Mon,KCA,AL,1,MIN,AL,1,1,...,9,rosae001,Eddie Rosario,7,NaN,Y,False,True,6,-6
12,20170403,0,Mon,ANA,AL,1,OAK,AL,1,2,...,3,semim001,Marcus Semien,6,NaN,Y,False,True,2,-2
13,20170403,0,Mon,CLE,AL,1,TEX,AL,1,8,...,6,profj001,Jurickson Profar,7,NaN,Y,True,False,-3,3
14,20170404,0,Tue,SFN,NL,2,ARI,NL,2,8,...,2,corbp001,Patrick Corbin,1,NaN,Y,True,False,-4,4
15,20170404,0,Tue,SDN,NL,2,LAN,NL,2,4,...,8,maedk001,Kenta Maeda,1,NaN,Y,True,False,-4,4
16,20170404,0,Tue,COL,NL,2,MIL,NL,2,6,...,6,daviz001,Zach Davies,1,NaN,Y,True,False,-1,1
17,20170404,0,Tue,CHN,NL,2,SLN,NL,2,2,...,4,waina001,Adam Wainwright,1,NaN,Y,True,False,-1,1
18,20170404,0,Tue,DET,AL,1,CHA,AL,1,6,...,2,may-j001,Jacob May,8,NaN,Y,True,False,-3,3
19,20170404,0,Tue,SEA,AL,2,HOU,AL,2,1,...,2,gonzm002,Marwin Gonzalez,3,NaN,Y,False,True,1,-1
20,20170404,0,Tue,ANA,AL,2,OAK,AL,2,7,...,3,semim001,Marcus Semien,6,NaN,Y,True,False,-1,1
21,20170404,0,Tue,NYA,AL,2,TBA,AL,2,5,...,10,bourp001,Peter Bourjos,7,NaN,Y,True,False,-5,5
22,20170404,0,Tue,CLE,AL,2,TEX,AL,2,4,...,6,chirr001,Robinson Chirinos,2,NaN,Y,True,False,-1,1
23,20170405,0,Wed,SFN,NL,3,ARI,NL,3,6,...,6,walkt004,Taijuan Walker,1,NaN,Y,False,True,2,-2
24,20170405,0,Wed,PHI,NL,2,CIN,NL,2,0,...,2,finnb001,Brandon Finnegan,1,NaN,Y,False,True,2,-2
25,20170405,0,Wed,SDN,NL,3,LAN,NL,3,1,...,9,hillr001,Rich Hill,1,NaN,Y,False,True,2,-2
26,20170405,0,Wed,COL,NL,3,MIL,NL,3,1,...,6,peraw001,Wily Peralta,1,NaN,Y,False,True,5,-5
27,20170405,0,Wed,ATL,NL,2,NYN,NL,2,3,...,2,degrj001,Jacob deGrom,1,NaN,Y,True,False,-2,2
28,20170405,0,Wed,MIA,NL,2,WAS,NL,2,4,...,2,roart001,Tanner Roark,1,NaN,Y,False,True,2,-2
29,20170405,0,Wed,TOR,AL,2,BAL,AL,2,1,...,4,hardj003,J.J. Hardy,6,NaN,Y,False,True,2,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,20170930,0,Sat,CIN,NL,161,CHN,NL,161,0,...,4,lestj001,Jon Lester,1,NaN,Y,False,True,9,-9
2401,20170930,0,Sat,LAN,NL,161,COL,NL,161,5,...,2,marqg001,German Marquez,1,NaN,Y,True,False,-2,2
2402,20170930,0,Sat,ATL,NL,161,MIA,NL,161,2,...,6,despo001,Odrisamer Despaigne,1,NaN,Y,False,True,8,-8
2403,20170930,0,Sat,NYN,NL,161,PHI,NL,161,7,...,2,alvah001,Henderson Alvarez,1,NaN,Y,True,False,-3,3
2404,20170930,0,Sat,SDN,NL,161,SFN,NL,161,3,...,5,cainm001,Matt Cain,1,NaN,Y,True,False,-1,1
2405,20170930,0,Sat,MIL,NL,161,SLN,NL,161,6,...,2,weavl001,Luke Weaver,1,NaN,Y,False,True,1,-1
2406,20170930,0,Sat,PIT,NL,161,WAS,NL,161,4,...,8,schem001,Max Scherzer,1,NaN,Y,True,False,-3,3
2407,20170930,0,Sat,SEA,AL,161,ANA,AL,161,6,...,5,maldm001,Martin Maldonado,2,NaN,Y,True,False,-2,2
2408,20170930,0,Sat,HOU,AL,161,BOS,AL,161,3,...,4,bradj001,Jackie Bradley,8,NaN,Y,False,True,3,-3
2409,20170930,0,Sat,CHA,AL,161,CLE,AL,161,2,...,2,urshg001,Giovanny Urshela,5,NaN,Y,True,False,-1,1
2410,20170930,0,Sat,ARI,NL,161,KCA,AL,161,3,...,7,gallc001,Cam Gallagher,2,NaN,Y,False,True,1,-1
2411,20170930,0,Sat,DET,AL,161,MIN,AL,161,3,...,2,adrie001,Ehire Adrianza,4,NaN,Y,True,False,-1,1
2412,20170930,0,Sat,TOR,AL,161,NYA,AL,161,1,...,8,hicka001,Aaron Hicks,9,NaN,Y,False,True,1,-1
2413,20170930,0,Sat,BAL,AL,161,TBA,AL,161,3,...,5,smitm007,Mallex Smith,9,NaN,Y,False,True,1,-1
2414,20170930,0,Sat,OAK,AL,161,TEX,AL,161,4,...,4,hoyij001,Jared Hoying,9,NaN,Y,False,True,4,-4
2415,20171001,0,Sun,CIN,NL,162,CHN,NL,162,3,...,4,montm002,Mike Montgomery,1,NaN,Y,True,False,-2,2
2416,20171001,0,Sun,LAN,NL,162,COL,NL,162,6,...,4,freek001,Kyle Freeland,1,"umpchange,3,umphome,blakr901,3,ump2b,(None)",Y,True,False,-3,3
2417,20171001,0,Sun,ATL,NL,162,MIA,NL,162,8,...,1,gordd002,Dee Gordon,4,NaN,Y,True,False,-3,3
2418,20171001,0,Sun,NYN,NL,162,PHI,NL,162,0,...,6,piven001,Nick Pivetta,1,NaN,Y,False,True,11,-11
2419,20171001,0,Sun,SDN,NL,162,SFN,NL,162,4,...,2,cuetj001,Johnny Cueto,1,NaN,Y,False,True,1,-1
2420,20171001,0,Sun,MIL,NL,162,SLN,NL,162,6,...,7,flahj002,Jack Flaherty,1,NaN,Y,True,False,-5,5
2421,20171001,0,Sun,PIT,NL,162,WAS,NL,162,11,...,8,gonzg003,Gio Gonzalez,1,NaN,Y,True,False,-3,3
2422,20171001,0,Sun,SEA,AL,162,ANA,AL,162,2,...,5,gratj001,Juan Graterol,2,NaN,Y,False,True,4,-4
2423,20171001,0,Sun,HOU,AL,162,BOS,AL,162,4,...,2,marrd001,Deven Marrero,6,NaN,Y,True,False,-1,1
2424,20171001,0,Sun,CHA,AL,162,CLE,AL,162,1,...,5,perer003,Roberto Perez,2,NaN,Y,False,True,2,-2
2425,20171001,0,Sun,ARI,NL,162,KCA,AL,162,14,...,2,cainl001,Lorenzo Cain,8,NaN,Y,True,False,-12,12
2426,20171001,0,Sun,DET,AL,162,MIN,AL,162,1,...,2,grosr001,Robbie Grossman,9,NaN,Y,False,True,4,-4
2427,20171001,0,Sun,TOR,AL,162,NYA,AL,162,2,...,7,austt001,Tyler Austin,9,NaN,Y,True,False,-1,1
2428,20171001,0,Sun,BAL,AL,162,TBA,AL,162,0,...,8,robed004,Daniel Robertson,6,NaN,Y,False,True,6,-6
2429,20171001,0,Sun,OAK,AL,162,TEX,AL,162,5,...,2,robid003,Drew Robinson,5,NaN,Y,True,False,-3,3

**PROBLEM**

Repeat the above but for visiting statistics.  By the end of this, you should have two dataframes `home_df` and `visit_df`.

In [114]:
def visit_team_data(in_df):
    new_columns(in_df)
    visit_group = in_df.groupby(in_df['visiting_team'])
    visit_df = visit_group[['runs_visitor', 'runs_home', 'visitor_win']].apply(sum).head()
    visit_df['num_visitor_games'] = visit_group.visitor_win.count()
    visit_df['RD_visitor'] = visit_df['runs_visitor'] - visit_df['runs_home']
    visit_df.index.rename('Team', inplace=True)
    
    return visit_df

In [115]:
visit_team_data(in_df)

      runs_visitor  runs_home  visitor_win  num_visitor_games  RD_visitor
Team
ANA          354.0      374.0         37.0                 81       -20.0
ARI          355.0      313.0         41.0                 81        42.0
ATL          386.0      400.0         35.0                 81       -14.0
BAL          348.0      434.0         29.0                 81       -86.0
BOS          398.0      319.0         45.0                 81        79.0

### Merging DataFrames

Using the `merge()` function we can join our dataframes based on a given column.  

```python
overall_df = home_df.merge(visit_df, how='outer', left_on='Team', right_on='Team')
```

**Run Differential**: sum of run differentials at home and away

**Win Percentage**: total wins over total games

**PROBLEM**:

Write a function that takes in the `home_df` and `visit_df`, returning an `overall_df` that merges the dataframes and adds a `rd` and `win_pct` column.

**PROBLEM**

Write a function called `extract_inputs` that takes in an input dataframe like ours, applies the rename column function, the add columns function, the home and visiting processors, and overall dataframe merge.